@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("header.css");
@import url("banner.css");
@import url("carrosel.css");
@import url("card.css");
@import url("topicos.css");
@import url("novidades.css");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
 

:root {
  --cor-de-fundo: #ebecee;
  --cor-header-branco: #ffffff;
  --cor-header-startazul: #002f52;
  --cor-header-finalazul: #326589;
  --image-gradient-azul: linear-gradient(97.54deg, #002F52 35.49%, #326589);

  --font-principal: "Poppins", serif;
  --cor-laranja: #eb9b00;
}

body {
  background-color: var(--cor-de-fundo);
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer{
  background-color: var(--cor-header-branco);
  padding: 2em;
  font-family: var(--font-principal);
}
